#jinja2: lstrip_blocks:"True",trim_blocks:"True"
{# Copyright (C) 2023 Aivars Vaivods
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
#!/bin/sh
# {{ ansible_managed }}
exec 2>&1
set -e

wg-quick up {{ wireguard_remote_directory }}/{{ wireguard_interface }}.conf

exec chpst -b wgquick_{{ wireguard_interface }} pause
